*{
    padding: 0;
    marging: 0;
    outline: 0;
    box-sizing: border-box;
    height: flex-start;
    width: flex;
    
}
background: linear-gradient(90deg,#d2001a,#7462ff, lightblue)
.container{
    
}

header{
    border-block:;
    accent-color: #fdeafd;
}

h1{
    
}
h2{

}