*{
    background-origin: padding-box;
    height: flex;
    width: flex;
    background: radial-gradient( 50deg,#12f3f7, #f819f8,red) 
    background-repeat: no-repeat;
    background: feGaussianBlur
    
}


header{
    border-block-color: #12f3f7;
    color: #f819f8;
}

h1{
    
}

em{
    color: rgb(0, 0, 0);
    text-align: center;
    
}

.0{
    
}

strong{
    transition: solid;
    color: green ;
}
aside{
    font-size: 20pt;
    border-left-width: 0dvh;
    border-radius: 100%;
    padding-left: 0%;
    padding-top: 0%;
    writing-mode: sideways-lr;
}

main{
    font-display: flex;
    position: flex;

}

h2 {
text-align: inherit;
position: Right;
}
title{
    position: inherit;
}